
.idea/Lenguajes-de-Programacion.iml
.idea/libraries/R_User_Library.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/encodings.xml
traductorSLtoC/.idea/codeStyles/codeStyleConfig.xml
traductorSLtoC/.idea/compiler.xml
traductorSLtoC/.idea/description.html
traductorSLtoC/.idea/encodings.xml
traductorSLtoC/.idea/misc.xml
traductorSLtoC/.idea/modules.xml
traductorSLtoC/.idea/vcs.xml
traductorSLtoC/.idea/workspace.xml
